* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* --- HEADER --- */


.header {
    background-color: rgba(218, 165, 32, 0.697);
    padding: 15px;
    position: absolute;
    width: 100vw;
}

.header-dos {
    background-color: rgba(218, 165, 32, 0.697);
    padding: 15px;
    width: 100vw;
}


.header__title {
    text-align: center;
    color: black;

}

.header__title a {
    color: black;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header__logo img {
    padding: 5px;
    width: 70px;

}

.header__logo img:hover {
    transform: scale(1.2);
}

/* .header__nav {
    display: flex;
    flex-direction: row;

} */

/* .header__nav ul {
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:

        "Inicio Menu Nosotros"
        "Contacto Redes Sociales"
    ;
} */



/* .footer {
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgb(220, 183, 104) 100%);
    display: grid;
    width: 100vw;
    justify-content: center;
    justify-items: center;

    padding: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2,auto);

    grid-template-areas: 
    "footer__logo footer__info"
    "footer__contact__info footer__maps";

} */

.header__nav a {
    font-weight: inherit;
    color: black;
    font-size: 1.3rem;

    transition-property: all;
    transition-duration: 350ms;
}



.header__nav a:hover {
    color: beige;
}


@media (min-width: 768px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-dos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        width: 50%;
    }

    .header__nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 50px;
    }



}


/* --- HERO SECTION --- */

.hero {
    height: 800px;
    background-image: url(../assets/grano_cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text {
    text-align: center;
    background-color: rgba(218, 165, 32, 0.296);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    padding-top: 70px;
}

@media (min-width: 358px){
    .hero__text{
    padding-top: 100px;
}
}

.hero__text h2 {
    color: black;
    font-size: 2.5rem;
    padding: 15px;
}

.hero__text h3 {
    color: #694f3d;
    font-weight: normal;
    font-style: italic;
    font-size: 2.20rem;
}


/* --- SEPARADOR ELEGIRNOS --- */


.elegirnos__titulo {
    background-color: rgba(218, 165, 32, 0.296);
    color: #694f3d;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: normal;
}

.elegirnos {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: beige;


}

.tarjeta {
    width: 200px;
    height: 300 px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 17px;



    /* border: 2px solid black; */
}

.elegirnos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.elegirnos__imagen {
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {

    .elegirnos__contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }



}






/* --- FIN SEPARADOR ELEGIRNOS --- */

/* /* .footer {
    
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(220, 183, 104) 100%);
    display: grid;
    width: 100vw;
    justify-content: center;
    justify-items: center;

    padding: 20px;

    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
        "footer__logo footer__info"
        "footer__contact__info footer__maps";

} */



.bg-cremaradiante{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 10%, rgb(220, 183, 104) 100%);
}

.bg-beige{
    background-color: beige;
}

.bg-fondo-titulos{
    background-color: rgba(218, 165, 32, 0.296);
}

.footer__boton__form {
    color: #694f3d;
    
    font-weight: bold;
    text-decoration: underline;
    transition-property: all;
    transition-duration: 350ms;
}



.footer__boton__form:hover {
    color: goldenrod;
}

/* .footer div {
    width: 175px;
    height: 200px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .footer__contact__info {

    text-align: left;
} */

/* .footer__info {
    text-align: left;

} */

/* .footer__info h4 {
    padding: 10px;
    text-align: center;
} */

/* .footer__contact__info h4 {
    padding: 10px;
    text-align: center;
} */

/* .footer__maps {
    overflow: auto;
    overflow-y: auto;
    border-radius: 15px;
    height: 100%;
    width: 100%;
} */

/* .footer__logo {
    width: 120px;
    height: 120px;
} */







/* @media (min-width: 768px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    } */








/* --- FIN SEPARADOR FOOTER --- */


/* --- SEPARADOR REDES  --- */

.redes {
    width: 100%;
    display: flex;
    flex-direction: column;


    background-color: beige;
    padding-bottom: 40px;

}

.redes__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #694f3d;
    color: black;
    padding-top: 15px;

}

.redes__contenedor {
    display: flex;
    flex-direction: column;
   

    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;
}

.redes__tarjeta{
    
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 10px;
    border-radius: 15px;
    
    width: 200px;
    


}

.redes__img {
    
    border-radius: 15px;
    width: 100%;

}

.redes__boton{
    
    padding: 13px 8px;
    
    text-align: center;
    color: black;
    border-radius: 20px;
    font-weight: 600;

    
    
    
    

}

.redes__boton:hover{
    color: #694f3d;
    
    transition-property: all;
    transition-duration: 150ms;
    transform: scale(1.2);
    font-weight: bold;
}




@media (min-width: 768px) {

    .redes__contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 600px;
    }

    .redes__tarjeta{
        
        display: flex;
        flex-direction: column;
    
        box-shadow: 0 0 10px;
        border-radius: 15px;
        
        width: 300px;
        
    }

    .redes__img {
    
        border-radius: 15px;
        width: 100%;
    
    }


    .redes__title {
        text-align: center;
    }

}


/* --- FIN SEPARADOR REDES HTML --- */


/* --- SEPARADOR NOSOTROS --- */


article{
    border: 2px solid black;
}

.nos-article{
    padding: 30px;
}

.nos-tarjeta{
    padding: 40px;
    
}

.nos-contenedor{
gap: 10px;
align-content: center;
justify-content: center;
}


/* .nosotros {
    width: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
    background-color: beige;
  


} */

/* .nosotros__video{
    display: flex;
    
    justify-content: center;
    
    height: 300px;
    
}

.nosotros__article{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    justify-content: center;
    overflow-x: auto;
    overflow-y: scroll;
    height: 400px;
    width: 300px;

    box-shadow: 0 0 10px;
    border-radius: 20px;

}

.nosotros__article h2{
    padding-bottom: 60px;

}


.nosotros__conteiner__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 400px;

    
}


.nosotros__img{
    width: 300px;
    height: 100%;
    border-radius: 20px;
}




@media (min-width: 768px){

    .nosotros {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 50px;
        gap: 50px;
        background-color: beige;
      justify-content: space-around;
    
    
    }



    

 */



/* --- FIN SEPARADOR NOSOTROS --- */


/* --- SEPARADOR MENU --- */

.menu {
    height: 100vh;
}

.pdf {
    height: 100%;
    width: 100%;
}

/* --- FIN SEPARADOR MENU --- */


/* ---  SEPARADOR CONTACTO --- */

.contacto {
    background-color: burlywood;
    width: 100%;
    height: 600px;

}

.formulario {
    /* background-color: blue; */
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.formulario_columna {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;

}











/* --- FIN SEPARADOR CONTACTO --- */