.header-dos {
    background-color: rgba(218, 165, 32, 0.697);
    padding: 15px;
    width: 100vw;
    position: static;
}

.nos-article{
    padding: 30px;
}

.nos-tarjeta{
    padding: 40px;   
}

.nos-contenedor{
gap: 10px;
align-content: center;
justify-content: center;
}

.nosotros__article{
    display: flex;
    flex-direction: column;
    text-align: center;    
    justify-content: center;
    overflow-x: auto;
    overflow-y: scroll;
    height: 400px;
    width: 300px;

    box-shadow: 0 0 10px;
    border-radius: 20px;

}

.nosotros__article h2{
    padding-bottom: 60px;

}


.nosotros__conteiner__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.nosotros__img{
    width: 300px;
    height: 100%;
    border-radius: 20px;
}

