
.header {
    background-color: rgba(218, 165, 32, 0.697);
    padding: 15px;
    width: 100vw;
    text-align: center;
    color: black;
    &a{
        color: black;
    }
    
}

.header-dos {
    background-color: rgba(218, 165, 32, 0.333);
    padding: 15px;
    width: 100vw;
    position: absolute;
    text-align: center;
    color: black;
    &a{
        color: black;
    }
    
    
}

.header__title {
    text-align: center;
    color: black;
    a{
        color: black;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        padding: 5px;
        width: 70px;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.header__nav a {
    font-weight: inherit;
    color: black;
    font-size: 1.3rem;

    transition-property: all;
    transition-duration: 350ms;
    &.header__nav a:hover {
        color: beige;
    }
}








